@model KennelUnion.Data.Entities.Contact

@{
    ViewBag.Title = "Edytuj stronę Kontakt";
}

<h1>Edytuj stronę Kontakt</h1>
<form asp-action="EditContact" method="post" class="form-horizontal">
    <div class="form-group">
        @await Html.PartialAsync("_HtmlEditor")
        @Html.TextAreaFor(m=>m.Content)
    </div>
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-success">Wyślij</button>
</form>
