<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_HeadMain")
</head>
<body>
@await Html.PartialAsync("_Navbar")
<div class="container">
    <div class="row">
        @RenderBody()
    </div>
</div>
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/main.js"></script>
</environment>
@RenderSection("scripts", required: false)
</body>
</html>