<nav class="nav navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" asp-controller="News" asp-action="Index">KennelUnion</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a asp-controller="News" asp-action="Index">Strona główna</a></li>
                <li><a asp-controller="Info" asp-action="About">O nas</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Formularze <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Forms" asp-action="DogRegistry">Zarejestruj psa</a></li>
                        <li><a asp-controller="Forms" asp-action="LitterOverview">Przegląd miotu</a></li>
                        <li><a asp-controller="Forms" asp-action="MembershipDeclaration">Deklaracja członkostwa</a></li>
                    </ul>
                </li>
                <li><a asp-controller="Info" asp-action="History">Historia</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>