@using System.Threading.Tasks
@using KennelUnion.Web.Models
@model KennelUnion.Web.Models.LitterOverviewViewModel

@{
    ViewBag.Title = "Przegląd miotu";
}

<h1>Formularz przeglądu miotu</h1>
<form asp-controller="Forms" asp-action="LitterOverview" class="form-horizontal" method="post">
    <div class="form-group">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="Owner"></label>
            <input asp-for="Owner" />
        </div>
        <div class="form-group">
            <label asp-for="Breed"></label>
            <input asp-for="Breed" />
        </div>
        <div class="form-group">
            <label asp-for="Father"></label>
            <input asp-for="Father" />
        </div>
        <div class="form-group">
            <label asp-for="FatherRegistrationNumber"></label>
            <input asp-for="FatherRegistrationNumber" />
        </div>
        <div class="form-group">
            <label asp-for="Mother"></label>
            <input asp-for="Mother" />
        </div>
        <div class="form-group">
            <label asp-for="MotherRegistrationNumber"></label>
            <input asp-for="MotherRegistrationNumber" />
        </div>
        <div class="form-group">
            <label asp-for="MatingDate"></label>
            <input asp-for="MatingDate" />
        </div>
        <div class="form-group">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" />
        </div>
        @for (var i = 0; i < 8; i++)
        {
            <div class="form-group">
                <label asp-for="Pups[i].Sex"></label>
                <input asp-for="Pups[i].Sex" />
            </div>
            <div class="form-group">
                <label asp-for="Pups[i].Name"></label>
                <input asp-for="Pups[i].Name" />
            </div>
            <div class="form-group">
                <label asp-for="Pups[i].Color"></label>
                <input asp-for="Pups[i].Color" />
            </div>
            <div class="form-group">
                <label asp-for="Pups[i].Chip"></label>
                <input asp-for="Pups[i].Chip" />
            </div>
        }
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" />
        </div>
        <button type="submit" class="btn btn-default">Wyślij</button>
        <div asp-validation-summary="All"></div>
    </div>
</form>