body {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat; }

.main-content {
  background: white; }

.page-body {
  background-color: mintcream;
  color: darkgray; }

#news-pagination {
  display: block; }

.page-footer {
  color: #fff;
  text-align: center;
  border-top: .05rem solid #e5e5e5; }
  .page-footer p {
    line-height: 49px;
    margin: 0; }

#nav-bottom {
  margin-bottom: 0;
  height: 50px;
  border-radius: 0; }

.wrap-words p {
  word-wrap: break-word; }

.center-text {
  text-align: center; }

.news-date {
  padding-left: 5px; }

@media (max-width: 1199px) {
  .navbar-fixed-side {
    margin-left: -15px;
    margin-right: -15px; } }

@media (min-width: 1199px) {
  .navbar-fixed-side {
    position: fixed;
    margin: 0 -15px;
    height: 100vh;
    width: inherit;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0; }
    .navbar-fixed-side .container, .navbar-fixed-side .container-fluid {
      width: auto;
      padding-left: 0;
      padding-right: 0; }
    .navbar-fixed-side .navbar-header {
      float: none; }
    .navbar-fixed-side .navbar-brand {
      height: auto; }
    .navbar-fixed-side > .container .navbar-brand, .navbar-fixed-side > .container-fluid .navbar-brand {
      margin-left: 0; }
    .navbar-fixed-side .navbar-collapse {
      width: 100%;
      border-top: 1px solid #1995dc; }
    .navbar-fixed-side .navbar-nav {
      float: none;
      margin: 0 -15px; }
      .navbar-fixed-side .navbar-nav > li {
        float: none; }
        .navbar-fixed-side .navbar-nav > li > a {
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #1995dc; }
    .navbar-fixed-side .navbar-form {
      margin: 0;
      margin-left: -15px;
      margin-right: -15px;
      padding: 10px 15px;
      border-bottom: 1px solid #1995dc; }
    .navbar-fixed-side .navbar-text {
      float: none;
      margin-left: 0;
      margin-right: 0; }
    .navbar-fixed-side .navbar-left,
    .navbar-fixed-side .navbar-right {
      float: none !important; }
    .navbar-fixed-side .navbar-nav .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      border-bottom: 1px solid #1995dc; }
      .navbar-fixed-side .navbar-nav .dropdown-menu > li > a,
      .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px; }
      .navbar-fixed-side .navbar-nav .dropdown-menu > li > a {
        line-height: 20px;
        color: #fff; }
        .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
          background-image: none; }
      .navbar-fixed-side .navbar-nav .dropdown-menu > .active > a {
        background-color: #178acc;
        color: #fff; }
    .navbar-fixed-side .navbar-nav > li > a:hover, .navbar-fixed-side .navbar-nav > li > a:focus,
    .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
      background-color: #219ee5;
      color: #fff; }
    .navbar-fixed-side .dropdown > .dropdown-toggle,
    .navbar-fixed-side .dropdown-menu > .dropdown-header {
      background-color: transparent !important;
      color: white !important;
      cursor: default;
      font-size: 0.8em;
      text-transform: uppercase;
      border-bottom: none;
      padding-bottom: 0; }
    .navbar-fixed-side .dropdown-toggle .caret {
      display: none; }
    .navbar-fixed-side .dropdown-menu {
      display: block; }
    .navbar-fixed-side.navbar-inverse .navbar-collapse,
    .navbar-fixed-side.navbar-inverse .navbar-nav > li > a,
    .navbar-fixed-side.navbar-inverse .navbar-form,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
      border-color: #04519b; }
    .navbar-fixed-side.navbar-inverse .divider {
      background-color: #04519b; }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li > a {
      color: #fff; }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > .active > a {
      background-color: #022f5a;
      color: #fff; }
    .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:focus,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:hover,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:focus {
      background-color: #04498c;
      color: #fff; }
    .navbar-fixed-side.navbar-inverse .dropdown > .dropdown-toggle {
      color: #d9d9d9 !important; } }

