// site.scss
body {
    padding-top:50px;
}

.page-body {
    background-color: mintcream;
    color: darkgray;
}

.wrap-words {
    p {
        word-wrap: break-word;
    }
}

.center-text {
    text-align:center;
}
@import 'navbar-fixed-side.scss';